@import "tailwindcss";

@theme {
  --font-family: var(--font-plus-jakarta-sans), system-ui, sans-serif;
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r from-[#FC5457] to-[#703AE6];
  }
  
}

